SECRET_KEY=your-secret-key-here-make-it-long-and-random
HUGGINGFACE_API_KEY=hf_your_key_here
HUGGINGFACE_MODEL=your-model-of-choice
USE_SPARK="true"
DATABASE_URL=postgres://datamorph:datamorph@db:5432/datamorph
MEDIA_ROOT=backend/
REDIS_URL=redis://redis:6379/0
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost